---
import SeparatorFooter from '../../images/separate-footer.svg'
---
<section class="w-full container mx-auto px-4 flex flex-col justify-between h-full">
  <div class="flex flex-col items-center justify-center w-full">
    <img
      src={SeparatorFooter.src}
      width="618"
      height="221"
      alt="flower"
      class="text-center"
    />
    <a href="https://www.linkedin.com/in/fathur-rohman-7325b5195/" target="_blank" class="text-center text-xs py-8 underline w-min whitespace-nowrap">BUILD WITH ❤️</a>
  </div>
</section>