---
import LikTur from '../../images/fotos/lik-tur.png'
import AlikaRahmat from '../../images/fotos/alika-rahmat.png'
import SeparatorFotos from '../../images/separate-fotos.svg'
---

<section class="w-full container mx-auto px-4 flex flex-col justify-between h-full min-h-screen 2xl:min-h-full">
  <div class="w-full flex justify-center items-center flex-col my-16 lg:mt-0 max-w-2xl mx-auto">
    <div class="flex flex-col gap-32 items-center my-6">
      <div class="text-center">
        <img
          slot="bank-logo"
          src={AlikaRahmat.src}
          width="527"
          height="441"
          alt="BRI" 
        />
      </div>
      <div class="text-center">
        <img
          slot="bank-logo"
          class="max-w-[280px]"
          src={LikTur.src}
          width="344"
          height="534"
          alt="BRI" 
        />
      </div>
      <div class="mt-24 text-center">
        <img
          src={SeparatorFotos.src}
          width="618"
          height="221"
          alt="flower"
          class="text-center mt-3"
        />
      </div>
    </div>
  </div>
</section>