---
import Flower from '../../images/flower.svg'
import Separator from '../../images/separate-line.svg'
import ToReceiverParam from '../react/ToReceiverParam';
---

<section class="w-full container mx-auto px-4 pt-14 flex flex-col justify-between h-full min-h-screen 2xl:min-h-full">
  <div class="w-full flex justify-center items-center flex-col">
    <img
      src={Flower.src}
      width="618"
      height="221"
      alt="flower"
    />
    <img
      src={Separator.src}
      width="810"
      height="53"
      alt="separator"
    />
  </div>
  <div class="my-40 relative text-center">
    <h4 class="text-xl">Kepada Yth.</h4>
    <ToReceiverParam client:only />
    <p class="mt-24">kami undang anda untuk menghadiri resepsi pernikahan anak kami.</p>
  </div>
</section>