---
import FooterSection from '../components/widgets/FooterSection.astro';
import GreetingSection from '../components/widgets/GreetingSection.astro';
import InvitationContent from '../components/widgets/InvitationContent.astro';
import WelcomeCard from '../components/widgets/WelcomeCard.astro';
import Layout from '../layouts/Layout.astro';
import FeatherDownEffect from '../components/FeatherDownEffect.astro';
---

<Layout title='Alika Febrianti & Rahmat Riyadi Wedding'>
	<div class="relative w-full overflow-hidden">
		<FeatherDownEffect>
			<WelcomeCard />
			<InvitationContent />
		</FeatherDownEffect>
		<GreetingSection />
		<FooterSection />
	</div>
</Layout>