---
import BankAccountButton from './react/BankAccountButton'

export type Props = {
  holderName: string;
  accountNumber: number | string;
};

const { holderName, accountNumber } = Astro.props;

---

<div class="rounded-lg border border-neutral-100 pb-6">
  <div class="border-b border-neutral-100">
    <div class="px-3 py-2 w-full flex justify-end">
      <slot name="bank-logo" />
    </div>
  </div>
  <div class="px-3 py-2 space-y-1">
    <h3 class="mt-8 text-neutral-700 uppercase text-sm"><code>{holderName}</code></h3>
    <BankAccountButton accountNumber={accountNumber} client:only />
  </div>
  <div class="w-full h-10 bg-neutral-800 mt-2" />
</div>
