---
import ToReceiverParamGenerator from '../../components/react/ToReceiverParamGenerator';
---
<div class="relative w-full overflow-hidden">
  <ToReceiverParamGenerator hostUrl={`${Astro.url.origin}/pak-turino/`} client:only />
</div>