---
import ToReceiverParamGenerator from '../../components/react/ToReceiverParamGenerator';
---
<div class="relative w-full overflow-hidden">
  <ToReceiverParamGenerator hostUrl="https://alika-rahmat.vercel.app/pak-turino/" client:only />
</div>