---
import Flower from '../../../images/flower.svg'
import BankAccontNumber from '../../BankAccontNumber.astro'
import BRI from '../../../images/bri.png'
import Mandiri from '../../../images/mandiri.webp'

const hrefUrl = Astro.url.href
const pageIsForBapak =  hrefUrl.includes('pak-turino')
const labelFor = pageIsForBapak ? 'pernikahan anak kami' : 'pernikahan kami'
---

<section class="w-full container mx-auto px-4 flex flex-col justify-between h-full min-h-screen 2xl:min-h-full">
  <div class="w-full flex justify-center items-center flex-col mt-64 lg:mt-0">
    <img
      src={Flower.src}
      width="618"
      height="221"
      alt="flower"
      class="z-50"
    />
    <p class="max-w-2xl mx-auto text-center mt-36 md:mt-24 min-h-[30vh]">Merupakan suatu kehormatan dan kebahagiaan bagi kami <br class="hidden md:block">
      apabila Bapak/Ibu/Saudara/i berkenan hadir dan memberikan do'a restunya <br>
      untuk keberkahan {labelFor}. 
    </p>
    <div class="min-h-screen">
      <p class="max-w-2xl mx-auto text-center mt-36 md:mt-24">Doa restu Anda merupakan karunia yang sangat berarti bagi kami.<br>
        Dan jika memberi adalah ungkapan kasih Anda, Anda dapat memberikan secara cashless.<br>
      </p>
      <div class="grid grid-cols-1 gap-6 md:gap-4 w-full max-w-2xl mt-12 md:mt-8 z-30">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 md:gap-4">
          <BankAccontNumber holderName='Turino' accountNumber={1800012505212}>
            <img
              slot="bank-logo"
              src={Mandiri.src}
              width="97"
              height="28"
              alt="BRI" 
            />
          </BankAccontNumber>
          <BankAccontNumber holderName='Alika Febrianti' accountNumber="002201079851501">
            <img
              slot="bank-logo"
              src={BRI.src}
              width="120"
              height="50"
              alt="BRI" 
            />
          </BankAccontNumber>
        </div>
      </div>
    </div>
    <p class="mt-24">Atas do'a dan restunya, kami ucapkan terimakasih.</p>
    <div class="mt-36 text-center space-y-8 mb-20">
      <p>Hormat kami yang berbahagia</p>
      <div>
        <div class="flex gap-16 mb-36">
          <p class="max-w-[220px] text-left">Kel. Besar Bapak Turino 
            dan Ibu Daryati</p>
          <p class="max-w-[220px] text-left">Kel. Besar Bapak Karwono dan Ibu Kasiem</p>
        </div>
        <h5 class="block font-bold text-4xl">Alika & Rahmat</h5>
      </div>
    </div>
  </div>
</section>