---
import AudioPlayer from '../components/react/AudioPlayer'
import { SEO } from "astro-seo";

interface Props {
	title: string;
	seoImage: string;
}

const { title, seoImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content=`Assalamualaikum wr.wb\nDengan memanjatkan puji syukur dan memohon Rahmat serta ridho Allah SWT. Kami bermaksud menyelenggarakan resepsi pernikahan kami. Yang insyaallah akan di laksanakan pada:\n\nHari/Tgl : Jumat, 1 Desember 2023\nWaktu.   : 08.00 wib s.d Selesai\nTempat   : Kediaman mempelai wanita, Jl Karangbawang kawunganten, RT 08/05 (Belakang Kantor Kecamatan Kawunganten), Kab. Cilacap\n\nAtas kehadirannya dan doa restu teman teman kami ucapkan terimakasih\nWassalamu'alaikum wr.wb` />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.cdnfonts.com" />
		<link href="https://fonts.cdnfonts.com/css/junge" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<SEO
      title="Alika Febrianti & Rahmat Riyadi Wedding"
      description="Assalamualaikum wr.wb\nDengan memanjatkan puji syukur dan memohon Rahmat serta ridho Allah SWT. Kami bermaksud menyelenggarakan resepsi pernikahan kami. Yang insyaallah akan di laksanakan pada:\n\nHari/Tgl : Jumat, 1 Desember 2023\nWaktu.   : 08.00 wib s.d Selesai\nTempat   : Kediaman mempelai wanita, Jl Karangbawang kawunganten, RT 08/05 (Belakang Kantor Kecamatan Kawunganten), Kab. Cilacap\n\nAtas kehadirannya dan doa restu teman teman kami ucapkan terimakasih\nWassalamu'alaikum wr.wb"
      openGraph={{
        basic: {
          title: "Alika Febrianti & Rahmat Riyadi Wedding",
          type: "Wedding Invitation",
          image: seoImage,
        }
      }}
      twitter={{
        creator: "@me"
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.svg" }],
        meta: [
          {
            name: "twitter:image",
            content: seoImage,
          },
          { name: "twitter:title", content: "Alika Febrianti & Rahmat Riyadi Wedding" },
          { name: "twitter:description", content: "Assalamualaikum wr.wb\nDengan memanjatkan puji syukur dan memohon Rahmat serta ridho Allah SWT. Kami bermaksud menyelenggarakan resepsi pernikahan kami. Yang insyaallah akan di laksanakan pada:\n\nHari/Tgl : Jumat, 1 Desember 2023\nWaktu.   : 08.00 wib s.d Selesai\nTempat   : Kediaman mempelai wanita, Jl Karangbawang kawunganten, RT 08/05 (Belakang Kantor Kecamatan Kawunganten), Kab. Cilacap\n\nAtas kehadirannya dan doa restu teman teman kami ucapkan terimakasih\nWassalamu'alaikum wr.wb"
					},
        ],
      }}
    />
	</head>
	<body>
		<AudioPlayer client:only />
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Junge';
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
