---
import AudioPlayer from '../components/react/AudioPlayer'
import { SEO } from "astro-seo";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Assalamualaikum wr.wb \n
		Dengan memanjatkan puji syukur dan memohon Rahmat serta ridho Allah SWT. Kami bermaksud menyelenggarakan resepsi pernikahan kami. Yang insyaallah akan di laksanakan pada: \n
		Hari/Tgl : Jumat, 1 Desember 2023 \n
		Waktu.   : 08.00 wib s.d Selesai \n
		Tempat   : Kediaman mempelai wanita, Jl Karangbawang kawunganten, RT 08/05 (Belakang Kantor Kecamatan Kawunganten), Kab. Cilacap \n
		Atas kehadirannya dan doa restu teman teman kami ucapkan terimakasih \n
		Wassalamu'alaikum wr.wb" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.cdnfonts.com" />
		<link href="https://fonts.cdnfonts.com/css/junge" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<SEO
      title="Alika Febriant & Rahmat Riyadi Wedding"
      description="Assalamualaikum wr.wb \
			Dengan memanjatkan puji syukur dan memohon Rahmat serta ridho Allah SWT. Kami bermaksud menyelenggarakan resepsi pernikahan kami. Yang insyaallah akan di laksanakan pada: \
			Hari/Tgl : Jumat, 1 Desember 2023 \
			Waktu.   : 08.00 wib s.d Selesai \
			Tempat   : Kediaman mempelai wanita, Jl Karangbawang kawunganten, RT 08/05 (Belakang Kantor Kecamatan Kawunganten), Kab. Cilacap \
			Atas kehadirannya dan doa restu teman teman kami ucapkan terimakasih \
			Wassalamu'alaikum wr.wb"
      openGraph={{
        basic: {
          title: "Alika Febriant & Rahmat Riyadi Wedding",
          type: "Wedding Invitation",
          image: "https://github.com/FathurRohmna/alika-rahmat/assets/55587102/40435845-b8e2-4a42-b546-60b5b9fa35aa",
        }
      }}
      twitter={{
        creator: "@me"
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.svg" }],
        meta: [
          {
            name: "twitter:image",
            content: "https://github.com/FathurRohmna/alika-rahmat/assets/55587102/40435845-b8e2-4a42-b546-60b5b9fa35aa",
          },
          { name: "twitter:title", content: "Alika Febriant & Rahmat Riyadi Wedding" },
          { name: "twitter:description", content: "Assalamualaikum wr.wb \
							Dengan memanjatkan puji syukur dan memohon Rahmat serta ridho Allah SWT. Kami bermaksud menyelenggarakan resepsi pernikahan kami. Yang insyaallah akan di laksanakan pada: \
							Hari/Tgl : Jumat, 1 Desember 2023 \
							Waktu.   : 08.00 wib s.d Selesai \
							Tempat   : Kediaman mempelai wanita, Jl Karangbawang kawunganten, RT 08/05 (Belakang Kantor Kecamatan Kawunganten), Kab. Cilacap \
							Atas kehadirannya dan doa restu teman teman kami ucapkan terimakasih \
							Wassalamu'alaikum wr.wb"
					},
        ],
      }}
    />
	</head>
	<body>
		<AudioPlayer client:only />
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Junge';
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
